.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px;
}

.App-main {
  padding: 16px;
}

.App-content {
  margin: 0 auto;
  max-width: 500px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
